# Calculate format=kde link=/usr/share/applications/libreoffice24.9-calc.desktop name=calculate-calc.desktop mirror pkg(app-office/libreoffice-bin)=>24.9,24.10

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
