# Calculate format=kde link=/usr/share/applications/gimp.desktop name=calculate-imageedit.desktop mirror pkg(media-gfx/gimp)=>3.2,3.4

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
Icon=gimp
