# Calculate format=kde link=/usr/share/applications/libreoffice25.8-writer.desktop name=calculate-writer.desktop mirror pkg(app-office/libreoffice-bin)=>25.8,25.9

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
